
.container{
    width:100%;
    height:800px;
    margin: auto;
    background-color: rgb(28, 27, 27)
}
.main_top,.main_bottom,.main_midle{
    width: 80%;
    margin: auto;
}
.main_top{
    height: 280px;
}
.main_bottom{
    height: 320px;
}
.main_top_left{
    width:60%;
    height: 100%;
    margin: auto;
    margin-right:0.9%;
    float:left;
}
p{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 0px;
    margin-top: 11.406px;
}
.title{
    width: 100%;
    height: 28px;
    margin: auto;
    align-items: center;
}
.card_top{
    width:100%;
    height: 116.297px;
    margin: 0px;
}
.card1,.card2,.card3{
    height: 100%;
    width: 32%;
    margin-right: 2%;
    float: left;
}
.card3{
    margin-right:0%;
}
.card_bottom{
    width: 100%;
    height: 116.297px;
    margin-top:8px;
}
.main_top_right{
    width: 39.1%;
    height: 280px;
    float: left;
}
.main_card{
    width: 100%;
    height: 241px;
    margin:0px;
    margin: auto;
}
.main_card2{
    width:100%;
    height: 280px;
    margin: auto;
}

.main_card2 .card_top .card1,
.main_card2 .card_top .card2,
.main_card2 .card_top .card3 {
    height: 100%;
    width: 32%;
    margin-right: 2%;
    float: left;
}
.main_card2 .card_top .card3 {
    margin-right: 0%;
}

.main_card2 .card_bottom {
    width: 100%;
    height: 160px;
    margin-top: 15px;
}

.main_card2 .card_top {
    width: 100%;
    height: 160px;
    margin: 0px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}